<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
		/>
		<title>Dyce&Dyne | Games</title>
		<link rel="stylesheet" href="/css/profile.css" />
        <link rel="icon" href="/images/logo.png" type="image/x-icon">
	</head>

	<body onload="checkCookie()">
		<%- include('../partials/navbar.ejs') %>
		<div class="container">
			<h3>Play Games and Earn Points</h3>
			<small
				>These points can later be redeemed to get discounts on your
				order total !</small
			>
			<hr />
			<div class="row">
				<div class="col-2"></div>
				<div class="col-md-4 col-sm-12">
					<div class="card">
						<img class="mt-2" src="images/8puzzle.jpeg" />

						<div class="card-body">
							<h5 class="card-title">SlidingPuzzle</h5>
							<p class="card-text">
								Artfully headaches! The pieces are to be pushed
								around over the board until the picture is
								complete.
							</p>
							<a
								onclick="setcookie(1)"
								id="game1"
								href="/games/8puzzle"
								class="btn btn-primary primaryColor gameButton"
								>Play!</a
							>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="card">
						<img class="mt-2" src="/images/connect4.jpeg" />

						<div class="card-body">
							<h5 class="card-title">ConnectFour</h5>
							<p class="card-text">
								Take a break to play a game of Connect 4 and
								earn tons of points!
							</p>
							<a
								onclick="setcookie(2)"
								id="game2"
								href="/games/connect4"
								class="btn btn-primary primaryColor gameButton"
								>Play!</a
							>
						</div>
					</div>
				</div>
				<div class="col-2"></div>
			</div>
		</div>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script
			src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"
		></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"
		></script>
		<script>
			  var username = <%- JSON.stringify(currentUser.username) %>
			  console.log(username);
			  function getCookie(cname) {
			    let name = cname + "=";
			    let decodedCookie = decodeURIComponent(document.cookie);
			    let ca = decodedCookie.split(";");
			    for (let i = 0; i < ca.length; i++) {
			        let c = ca[i];
			        while (c.charAt(0) == " ") {
			            c = c.substring(1);
			        }
			        if (c.indexOf(name) == 0) {
			            return c.substring(name.length, c.length);
			        }
			    }
			    return "";
			}
			  function checkCookie() {
			      let userG1 = getCookie(username + "GAME1");
			      if (userG1 != "" && userG1!=null && userG1 >=3) {
			          var el = document.getElementById("game1");
			          el.disabled=true;
			          el.classList.add("disabled");
			          el.href="#";
			      }
			      let userG2 = getCookie(username + "GAME2");
			      if (userG2 != ""  && userG2!=null && userG2 >= 3) {
			          var el = document.getElementById("game2");
			          el.disabled=true;
			          el.classList.add("disabled");
			          el.href="#";
			      }
			  }
			  function setcookie(gameNo) {
			      var cname = username + "GAME" + gameNo.toString();
			      console.log("hhh");
			      let user = getCookie(cname);
			      let value=parseInt(user[0]);
			      console.log(user);
			      if (user == "" || user==null) {
			          console.log('yy');
			          const d = new Date();
			          d.setTime(d.getTime() + (24*60*60*1000));
			          let expires = "expires=" + d.toGMTString();
			          var cvalue = 1;
			          document.cookie = cname + "=" + cvalue + expires+";" + expires + ";path=/";
			      }
			      else if (value < 3)
			      {
			          var expires=user.slice(1);
			          console.log(expires);
			          document.cookie = cname + "=" + (value+1).toString() + expires+ ";" + expires + ";path=/";
			      }
			      else {
			          console.log("ww")
			          var el = document.getElementById("game" + gameNo.toString());
			          el.disabled=true;
			          el.classList.add("disabled");
			          alert("Sorry ! You cannot play the game more than 3 times a day ! ")
			          el.href="#";

			      }
			  }
		</script>
	</body>
</html>
